%tr
  %td= project.title
  %td= project.description
  %td= project.format_date
  %td= link_to 'Show', project
  - if policy(project).update?
    %td= link_to 'Edit'   , edit_project_path(project)
    %td= link_to 'Delete',  project_path(project), method: :delete,
      data: { confirm: 'Are you sure want to delete this project?' }
  - else
    %td= link_to 'Edit',   '#', class: 'disabled'
    %td= link_to 'Delete', '#', class: 'disabled'
