%tr
  %td= project.title
  %td= project.description
  %td= project.format_date
  %td= link_to 'Show', project
  - if is_the_owner?(project)
    %td= link_to 'Edit', edit_project_path(project)
  - else
    %td= link_to 'Edit', edit_project_path(project), class: 'disabled'
